@import url('https://fonts.googleapis.com/css2?family=Matangi:wght@300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Matangi:wght@300..900&display=swap'); */

:root {
  --green: #84ae92;
  --darkBlue: #254d70;
  --orange: #fb9e3a;
  --mainText: "Roboto";
  --secondaryText: "Matangi"
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--mainText);
}
